In [1]:
import pandas as pd
import plotly as px
import numpy as np

In [2]:
ucl = pd.read_excel('UCL_playerstats_orig.xlsx')

In [3]:
ucl['Competitions'] = ucl['Competitions'].str.strip()

In [4]:
ucl['Team'] = ucl['Team'].str.strip()

In [6]:
ucl.head()

,PlayerID,Player,Position,Age,Nationality,Team,Competitions,Phase,Phase_Tier,Value10^6,...,Balls_recovered,Tackles_Won,Tackles_Lost,Saves,Goals_Conceded,Clean_Sheets,MOTM_Awards,Minutes_played,Match_played,DNP
0,1,Theo Hernandez,Defender,27,France,Milan,Serie A,Knockout_phase,D,40.0,...,53,2,5,0,0,0,0,861,10,0
1,2,Nicolo Barella,Midfielder,28,Italy,Inter,Serie A,Final,S,80.0,...,32,8,15,0,0,0,2,994,13,2
2,3,Lewandowski,Forward,36,Poland,Barcelona,La Liga,Semi_finals,A,15.0,...,11,4,1,0,0,0,2,985,13,1
3,4,Raphinha,Forward,28,Brazil,Barcelona,La Liga,Semi_finals,A,80.0,...,18,2,7,0,0,0,3,1225,14,0
4,5,Van Dijk,Defender,33,Netherlands,Liverpool FC,Premier League,Round16,C,50.0,...,51,3,3,0,0,0,0,840,9,1

In [15]:
result_players = (
    ucl.groupby("Nationality")['Player']
    .count()
    .reset_index()
    .rename(columns={"Nationality": "Country", "Name": "Player"})
    .sort_values(by="Player", ascending=False)
    .head(10)
)

result_players

        Country  Player
14       France      24
26  Netherlands      18
37        Spain      16
16      Germany      16
6        Brazil      15
21        Italy      11
13      England      11
1     Argentina      10
4       Belgium       9
30     Portugal       9

#### Removing Column

In [5]:
ucl.drop('Key_Passes',axis=1)

KeyError: "['Key_Passes'] not found in axis"

#### Creating new Column

In [49]:
ucl['Tackles'] = ucl['Tackles_Won'] + ucl['Tackles_Lost']

In [50]:
ucl

,PlayerID,Player,Position,Age,Nationality,Team,Competitions,Phase,Phase_Tier,Value10^6,...,Tackles_Won,Tackles_Lost,Saves,Goals_Conceded,Clean_Sheets,MOTM_Awards,Minutes_played,Match_played,DNP,Tackles
0,1,Theo Hernandez,Defender,27,France,Milan,Serie A,Knockout_phase,D,40.0,...,2,5,0,0,0,0,861,10,0,7
1,2,Nicolo Barella,Midfielder,28,Italy,Inter,Serie A,Final,S,80.0,...,8,15,0,0,0,2,994,13,2,23
2,3,Lewandowski,Forward,36,Poland,Barcelona,La Liga,Semi_finals,A,15.0,...,4,1,0,0,0,2,985,13,1,5
3,4,Raphinha,Forward,28,Brazil,Barcelona,La Liga,Semi_finals,A,80.0,...,2,7,0,0,0,3,1225,14,0,9
4,5,Van Dijk,Defender,33,Netherlands,Liverpool FC,Premier League,Round16,C,50.0,...,3,3,0,0,0,0,840,9,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,206,Kevin,Forward,22,Brazil,Shakhtar Donetsk,Premier Liga,League_phase,E,12.0,...,7,0,0,0,0,0,460,7,1,7
206,207,Cabella,Midfielder,35,France,Lille,Ligue 1,Round16,C,3.0,...,3,4,0,0,0,0,388,7,3,7
207,208,Locatelli,Midfielder,27,Italy,Juventus,Serie A,Knockout_phase,D,35.0,...,19,17,0,0,0,0,673,9,1,36
208,209,Palacios,Midfielder,26,Argentina,Bayer Leverkusen,Bundesliga,Round16,C,40.0,...,10,13,0,0,0,0,666,10,0,23
209,210,Lucumi,Defender,26,Colombia,Bologna,Serie A,League_phase,E,18.0,...,1,4,0,0,0,0,531,7,1,5

#### How many rows and columns are in datafram UCL

In [36]:
print('Len of Columns :', len(ucl.columns))
print('Len of Rows:',len(ucl.index))

Len of Columns : 31
Len of Rows: 210

#### What is the team of Raphinha ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Raphinha)

In [3]:
ucl[ucl['Player'] == 'Raphinha']['Team']

3    Barcelona
Name: Team, dtype: object

#### Player with the highest value in champions league season 2025 base in Transfermarkt

In [8]:
ucl[ucl['Value10^6'] == ucl['Value10^6'].max()][['PlayerID','Player','Value10^6']]

    PlayerID       Player  Value10^6
37        38  Vinicius Jr      200.0

In [17]:
# ucl.loc[]
highest_value = ucl.loc[ucl['Value10^6'].idxmax()]

highest_value

PlayerID                            38
Player                     Vinicius Jr
Position                       Forward
Age                                 24
Nationality                     Brazil
Team                       Real Madrid
Competitions                   La Liga
Phase                  Quarter_finals
Phase_Tier                           B
Value10^6                        200.0
Jersey_Num                           7
Rating                            7.79
Goals                                8
Assists                              3
TopSpeed(km/h)                    35.5
DistanceCovered(km)              118.9
Total_attempts                      42
Dribbles                            82
Passes_completed                   269
Chances_Created                     23
Key_Passes                          23
Balls_recovered                     20
Tackles_Won                          3
Tackles_Lost                        11
Saves                                0
Goals_Conceded                       0
Clean_Sheets                         0
MOTM_Awards                          3
Minutes_played                    1104
Match_played                        12
DNP                                  2
Name: 37, dtype: object

#### How many unique team  are there?

In [27]:
len(ucl['Team'].unique())

31

In [34]:
ucl['Team'].value_counts().reset_index(name='players_num')

                Team  players_num
0              Inter           13
1          Barcelona           12
2         Arsenal FC           12
3           Paris SG           12
4        Real Madrid           11
5       BVB Dortmund           11
6      PSV Eindhoven           10
7      Bayern Munich           10
8       Liverpool FC           10
9            Benfica            9
10       Atalanta BC            9
11       Aston Villa            8
12   Atletico Madrid            8
13  Bayer Leverkusen            7
14             Milan            7
15            Monaco            7
16   Manchester City            7
17            Celtic            6
18             Lille            6
19       Sporting CP            6
20       Club Brugge            5
21          Juventus            5
22         Feyenoord            4
23           Bologna            4
24  Shakhtar Donetsk            3
25             Brest            2
26     VfB Stuttgart            2
27        Sturm Graz            1
28           Leipzig            1
29     Dinamo Zagreb            1
30            Girona            1

In [15]:
all_goals = ucl.sum()['Goals']
all_assists = ucl.sum()['Assists']
all_saves = ucl.sum()['Saves']

In [20]:
print(f'All goals Champions League: {all_goals}')
print(f'All assists Champions League: {all_assists}')
print(f'All saves Champions League: {all_saves}')

All goals Champions League: 382
All assists Champions League: 284
All saves Champions League: 678